/* Variáveis de cores para temas */

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg: #4caf50;
    --button-bg: #1e88e5;
    --button-hover: #1565c0;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
    --header-bg: #333333;
    --button-bg: #ff9800;
    --button-hover: #e68900;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#app {
    text-align: center;
    padding: 20px;
    width: 90%;
    mas-width: 500px;
}

header {
    background-color: var(--header-bg);
    padding: 15px;
    color: white;
    font-seize: 1.5rem;
    border-radius: 10px;
}

/* Botão do modo escuro */
#themeToggle {
    background: linear-gradient(135deg, #ff9800, #e68900);
    color: white;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 20px;
}

#themeToggle:hover {
    background: linear-gradient(135deg, #e68900, #d97700);
}

#themeToggle:active{
    transform: scale(0.95);
}

#controls {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 1.2rem;
}

select, input, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
}

button {
    background: linear-gradient(135deg, #1e88e5, #1565c0);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: linear-gradient(135deg, #1565c0, #0d47a1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Estilo dos dados */

.result {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-bg);
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Animação de rotação */

@keyframes rollDice {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

.rolling {
    animation: rollDice 1s infinite linear;
}

/* Responsividade para telas menores */

@media (max-width: 480px) {
    #app {
        width: 100%;
        padding: 10px;
    }

    header {
        font-size: 1.2rem;
    }

       select, input, button {
        font-size: 1rem;
        padding: 8px;
        width: 90%;
    }

    .result {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
}
